.rightArrowStyles {
  position: absolute;
  top: 50%;
  opacity: 0.3;
  transform: translate(0, -50%);
  right: 0.5em;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.rightArrowStyles:hover {
  opacity: 1;
}

.slideStyles {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.leftArrowStyles {
  position: absolute;
  opacity: 0.3;
  top: 50%;
  transform: translate(0, -50%);
  left: 0.5em;
  font-size: 45px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}

.leftArrowStyles:hover {
  opacity: 1;
}

.sliderStyles {
  position: relative;
  height: 100%;
}

.dotContainerStyles {
  display: flex;
  justify-content: center;
}

.dotStyle {
  margin: 5px 5px;
  cursor: pointer;
  font-size: 20px;
  color: rgb(227, 227, 227);
}

.dotStyle:hover {
  color: rgb(110, 109, 109);
}
